/* Container Size */
$container_width: 1250px; 
$full_width: 100%;
$big_grid_column_width: 40%;
$small_grid_column_width: 20%;

/* All colors used specified here */
$border-color: #CECECE;
$h3_heading_color: #A7A7A7;
$red-text: #B90000;
$blue-text: #1569C7;

/* Display Types */
$display_block: block;
$display_grid: grid;

/* Paddings */
$standard_padding: 0.5em;
$grid_padding: 0.2em;
$padding-bottom: 1.5em;

/* Margins */
$zero_margin: 0;
$auto_margin: auto;

/* Text Displays */
$transform_upper: uppercase;
$text-center: center;

/* Fonts */
$font-family: 'Nanum Gothic', sans-serif;

/* Font Size */
$para-font: 13px;
$para-highlight: 14px;
$letter-spacing-close: -1px;
$h1-font: 50px;
$h2-font: 40px;
$h3-font: 30px;

/* Font Weight */
$font-900: 900;



